#shelter-container{
    display: grid;
    height: 80vh;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
#shelter-card-info {
    grid-area: 1/2/4/18;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    background-color: #FAEBE0;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
#picturesandcard{
    grid-area: 5/2/11/13;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
}

#lol::-webkit-scrollbar {
    display: none;
}



#shelter-card{
    grid-area: 5/14/11/18;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F1EA;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

#shelter-image {
  width: 200px;
  height: 200px;
  grid-column: 2/3;
  align-self: center;
}

#shelter-image > img {
  height: 100%;
  width: 100%;
}


#shelter-info {
  height: 150px;
  align-self: center;
  grid-column: 4/19;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

#description-shelter{
  font-family: 'Open Sans', sans-serif;

}

#pet-fav{
  background-color: rgb(242, 11, 11);
  position: absolute;
  left: 5%;
  top:5%
}

