
#shelter-container{
    height: 90%;
    width: 90%;
    margin-left: 2%;
}

#picturesandcard{
    margin-top: 10px;
    justify-content:space-around;
    display: flex;
    height: 70%;
    width: 100%;
}

#shelter-card{
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
#description-shelter{
  width: 50%;
}

@media(max-width: 1200px) {
    #shelter-card {
      display: none;
    }
    #picturesandcard{
        height: 25%;
    }
  }

  @media(max-height: 1200px) {
   
    #picturesandcard{
        height: 50%;
    }
  }