#postlist-container{
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    overflow: hidden;
    height: 60vh;
    width: 32w;
}

#post-feed {
    grid-column: 2/3;
    overflow-y: auto;
}

#post-feed::-webkit-scrollbar {
    display: none;
  }