#postcard-container {
    height: 600px;
    border: solid 1px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 0.2fr 2fr 0.5fr;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin: 15px 0;

}
#postcard-img {
    background-image: url('https://i.ytimg.com/vi/hu1ND_k-QeI/maxresdefault.jpg');
    background-size: cover;
    background-position: center;
    grid-column: 2/3;
    grid-row: 2/3;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

#portcard-title {
    grid-row: 3/4;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#postcard-rating {
    grid-column: 2/3;
    grid-row: 1/2;
    
}