#postcard-container {
    height: 500px;
    width: 500px;
    border: solid 2px rgba(0, 0, 0, 0.407);
    border-radius: 10px;
    background-color: #ffffff;
    display: grid;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    grid-template-columns: 0.20fr 1fr;
    box-shadow: 5px 5px 10px #00000080;
    margin: 15px 0;
    align-self: center;
    flex-shrink: 0;

}
#profile-picture {
    background-color: red;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 5px 0 0 5px;

}

#postcard-img {
    background-image: url('https://i.ytimg.com/vi/hu1ND_k-QeI/maxresdefault.jpg');
    background-size: cover;
    background-position: center;
    grid-row: 2/3;
    grid-column: 1/4;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

#portcard-title {
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#postcard-rating {
    grid-row: 3/4;
    grid-column: 1/4;
    
}