#postcard-container {
    height: 400px;
    width: 400px;
    background-color: rgb(248, 234, 216);
    display: grid;
    grid-template-rows: repeat(10, 40px);
    grid-template-columns: repeat(10, 40px);
    box-shadow: 5px 5px 10px #00000080;
    margin: 30px 0;
    align-self: center;
    flex-shrink: 0;

}
#profile-picture {
    background-color: red;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    grid-area: 1/2/3/4;
    align-self: center;

}

#postcard-img {
    /* background-image: url('https://i.ytimg.com/vi/hu1ND_k-QeI/maxresdefault.jpg'); */
    background-size: cover;
    background-position: center;
    grid-area: 3/2/9/10;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

#portcard-title {
    grid-area: 1/4/3/10;
    display: flex;
    justify-content: center;
    align-items: center;
}

#postcard-rating {
    grid-area: 9/2/11/10;
    align-self: center;
    
}