#newpostcontainer{
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr 2fr 1fr;
    grid-template-rows: 0.5fr 0.3fr 0.5fr 2fr 1fr;
    position: relative;
    box-shadow: 10px 5px 5px rgb(179, 171, 171);
    border: none;
    border-radius: 20px;
    background-color: rgb(243, 226, 205);
}


#textdescription{
    grid-column: 4/5;
    grid-row: 4/5;
    resize: none;
    box-shadow: 10px 5px 5px rgb(179, 171, 171);
    border: none;
    border-radius: 20px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

#titledescription{
    resize: none;
    grid-column: 4/5;
    grid-row: 2/3;
    height: 50px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(179, 171, 171);
    border: none;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

#media-container{
    background-color: white;
    grid-column: 2/3;
    grid-row: 2/5;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(179, 171, 171);
    border: none;
}


#add-picture-container{
    grid-column: 2/3;
    grid-row: 5/6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#add-picture-button{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#share{
    grid-column: 4/5;
    grid-row: 5/6;
    height: 30px;
    width: 100px; 
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(179, 171, 171);
    border: none;
    background-color: white;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

#share-container{
    grid-column: 4/5;
    grid-row: 5/6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#share-button{
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#create-pet-container {
  box-shadow: 10px 5px 5px rgb(179, 171, 171);
  border: none;
  border-radius: 20px;
  background-color: rgb(243, 226, 205);
}
