#chooseuser-card {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    box-shadow: none;
    border: none;
}

.css-1lg55su-MuiButtonBase-root-MuiButton-root {
    background-color: white !important;
    color: rgb(156 84 26) !important;
}

#or {
    color: rgb(156 84 26);
    font-size: 25px;
    text-align: center;
    align-items: center;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}