#login-card {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    box-shadow: none;
    border: none;
}


.css-1qvr50w-MuiTypography-root {
    font-size: 60px !important;
    color: rgb(250, 249, 249);
    text-align: center;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.css-1gcg9uy-MuiPaper-root-MuiCard-root {
width: 400px !important;
} 

.css-1lg55su-MuiButtonBase-root-MuiButton-root {
text-transform: lowercase !important;
background-color: #A6CB89 !important;;
align-items: center !important;
border-radius: 20px !important;
color: white !important;
font-size: 18px !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    font-size: 20px !important;
    text-transform: lowercase !important;
    font-size: 18px !important;
    color: #0C4EB1 !important;
    border-radius: 20px !important;
}

.css-150bnem-MuiFormControl-root-MuiTextField-root {
    width: 60% !important;
}

.css-16nvljh-MuiFormControl-root-MuiTextField-root {
    width: 60% !important;
}

.css-46bh2p-MuiCardContent-root {
    text-align: center !important;
}

.css-1mav4ft-MuiCardActions-root {
    display: flex;
    flex-direction: column;
    gap: 10px;
}