#new-about-us-container {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 80vh;
}

#newaboutuscontainer {
    grid-area: 2/2/10/20;
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr 2fr 0.5fr;
    grid-template-rows: 0.5fr 0.3fr 0.5fr 2fr 1fr;
    position: relative;
    box-shadow: 10px 5px 5px rgb(179, 171, 171);
    border: none;
    border-radius: 20px;
    background-color: rgb(243, 226, 205);
}


#foto2{
    background-image: url("../../../Public/Images/Foto2.png");
    background-size: cover;
    grid-column: 4/5;
    grid-row: 4/5;
    resize: none;
    border: none;
    border-radius: 20px;
}

#foto1{
    background-image: url("../../../Public/Images/Foto1.png");
    background-size: cover;
    resize: none;
    grid-column: 2/3;
    grid-row: 4/5;
    height: 50px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(179, 171, 171);
    border: none;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

#media-container{
    background-color: white;
    grid-column: 2/3;
    grid-row: 2/5;
    max-width: 400px;
    max-height: 400px;
    overflow: hidden;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(179, 171, 171);
    border: none;
}

#media {
    max-width: 400px;
    max-height: 400px;
}


#text-about-us{
    grid-column: 2/3;
    grid-row: 5/6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
