#profile-container{
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr 1.4fr 0.1fr;
    height: 90%;
    width: 90%;
}
#square-pictures{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    margin-right: 10%;
    /* border: 1px solid; */
    grid-column: 2/3;
    gap: 5px;
}

#shelter-profile-avatar {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100%;
}

#profile-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 4/5;
    height: 90%;
    width: 90%;
    border-radius: 20px;
    text-align: center;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 10px 5px 5px rgb(233, 222, 222);
    border: none;
    background-color: #FAEBE0;
}

#description-user{
    width: 60%;
    
}

#new-post-button {
    width: 110px;
    height: 35px;
    background-color:#FAEBE0;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 10px 5px 5px rgb(233, 222, 222);
    size: 20px;
}

#edit-profile-user {
    width: 110px;
    height: 35px;
    background-color:#FAEBE0;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 10px 5px 5px rgb(233, 222, 222);
    size: 20px;
}

#new-post-button:hover {
    cursor: pointer;
}

#profile-avatar {
    background-color:#FAFAFA;
    width: 100%;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    align-items: start;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 10px 5px 5px rgb(233, 222, 222);
}

#submit-description-user {
    width: 110px;
    height: 35px;
    background-color:#FAEBE0;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 10px 5px 5px rgb(233, 222, 222);
    size: 20px;
}

#edit-avatar {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 15px;
}

#edit-avatar:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

#post-pictures {
    width: 620px;
    height: 600px;
    background-color: rgba(250, 235, 224, 0.4);
    display: flex;
    overflow: hidden;
    overflow-y: scroll;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 0;
}

.imagepost {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: filter 0.3s ease;
}
.imagepost:hover {
    cursor: pointer;
    filter: brightness(0.7);
}

#edit-profile {
    background-color:rgb(247, 244, 239);
    border-radius: 20px;
    width: 110px;
    height: 35px;
    font-size: 15px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 10px 5px 5px rgb(233, 222, 222);
    size: 20px;
}

