#sidebar-container {
    display: flex;
    flex-direction: column;
    width: 10%;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    height: 80%;
}

.sidebar-nav-button {
    background-color: red;
    width: 80px;
    height: 80px;
    border-radius: 90px;
    
}