#sidebar-container {
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    height: 80%;
}

.sidebar-nav-button {
    background-color: red;
    width: 80px;
    height: 80px;
    border-radius: 90px;
}

#shelters-button {
    width: 80px;
    height: 80px;
    border-radius: 90px;
    border: none;
    background-image: url('../../../Public/Images/ShelterRegister.jpg');
    background-position: center;
    background-size: contain;
}

#shelters-button:hover {
    cursor: pointer;
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s;
}

.visible {
    opacity: 1;
    transition: opacity 0.5s;
}