#other-profile-container{
    display: flex;
    justify-content: center;
    max-height: 90%;
    width: 90%;

}

#others-square-pictures{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}


#others-profile-card{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 10px 5px 5px rgb(233, 222, 222);
    border: none;
    background-color: #FAEBE0;
}

#others-profile-avatar {
    background-color: #FAFAFA;
    width: 100%;
    height: 350px;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: end;
    align-items: start;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 10px 5px 5px rgb(233, 222, 222);
}

#others-description{
    width: 50%;
    text-align: center;
}

#follow{
    width: 15%;
    float: left;
}