#shelter-list-container {
    max-width: 100%;
}

#shelter {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    height: 200px;
    column-gap: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    margin: 5%;
}

#shelter-profile {
    grid-column: 1/2;
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
}

#shelter-list-info {
    grid-column: 2/3;
    display: grid;
    align-items: center;
    grid-template-columns: 9fr 1fr;
    grid-template-rows: 4fr 1fr;
}

#go-shelter-button {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border: none;
    background-color: #B47039;
    color: white;
}