#shelter-profile-container{
    display: grid;
    grid-template-columns:6fr 0.5fr 2.5fr 1.5fr;
    grid-template-rows: 0.4fr 7fr 0.5fr;
    width: 100%;
    height: 100%;
    
}
#shelter-profile-button-add-pet {
  grid-area: 1/1/2/2;
  background-color: rgb(247, 244, 239);
  border-radius: 20px;
  width: 110px;
  height: 35px;
  font-size: 15px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  box-shadow: 10px 5px 5px rgb(233, 222, 222);
  size: 20px;
  place-content: center

}

#shelter-profile-pets {
  grid-area: 2/1/3/2;
  border: 1px solid
}

#shelter-profile-info {
  grid-column: 3/4;
  grid-row: 1/3;
  display: grid;
  grid-template-rows: 1fr 1fr;
  border: 1px solid;
  border-radius: 20px;

  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  box-shadow: 10px 5px 5px rgb(233, 222, 222);
  border: none;
  background-color: #FAEBE0;
}

#shelter-profile-avatar {
  background-color: #FAFAFA;

  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 10px 5px 5px rgb(233, 222, 222);
  padding: 1px;
}

#shelter-profile-avatar-photo {
  max-width: 100%;
  max-height: 100%;
}

#pet-fav{
  background-color: rgb(242, 11, 11);
  width: 20%;
  height: 20%;
  position: absolute;
  left: 5%;
  top:5%
}

#edit-profile-shelter {
  background-color: rgb(247, 244, 239);
  border-radius: 20px;
  width: 110px;
  height: 35px;
  font-size: 15px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  box-shadow: 10px 5px 5px rgb(233, 222, 222);
  size: 20px;
  place-content: center;
  grid-column: 3/4;
  grid-row: 1/3;
  margin-left: 10px;
  margin-top: 10px;
}

#shelter-profile-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}