#petcard-container {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 0.1fr 2fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

#pet-picture {
    width: 500px;
    height: 500px;
    background-color: beige;
    border-radius: 20px;
    grid-area: 2/2/3/3;
    box-shadow: black;
}

#pet-description {
    grid-area: 2/3/3/4;
}

#petcard-add-fav {
    border: none;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0);
}

#hobbiesbox {
    grid-area: 2/4/3/5;
    height: 100%;
    background-color: antiquewhite;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between; 
}

#hobbies {
    text-align: center;
}

#text {
    text-align: center;
}

#list-picture {
    height: 200px;
    align-items: center;
}
